/* Starting Declarations*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: "Trebuchet MS"
}

html {
	height: 100%;
}

body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),url("../images/bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
	margin: 0;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: auto;
}

/*Header*/
.header {
	width: 100%;
	height: 80px;
	display: block;
	background-color: #C46700;
	top: 0;
}

.inner_header {
	width: 90%;
	height: 100%;
	display: block;
	margin: 0 auto;
}

.logo_container {
	height: 100%;
	display: table;
	float: left;
}

.logo_container img {
	width: 50px;
	height: 50px;
	position: relative;
	top: 15px;
	left: 10px;
	float: left;
}

.logo_container h1 {
	position: relative;
	top: 22px;
	left: 10px;
	float: left;
	font-size: 1.8em;
}

/*Navigation Bar*/
.navigation {
	float: right;
	height: 100%;
}

.navigation a {
	height: 100%;
	display: table;
	float: left;
	padding: 0px 20px;
}

.navigation a li {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	color: white;
	font-size: 16px;
}

.navigation a:last-child {
	padding-right: 0;
}

.page_indicator {
	color: white;
	font-size: 0.9em;
}

.mali_text {
	color: #EA0000;
}

/* Body Content */
.text {
	color: #ffff;
}

.text h1 {
	font-family:'Trebuchet MS';
	text-align: center;
	margin-top: 1em;
	color: #ffff;
}

.text p {
	font-family:'Trebuchet MS';
	text-align: center;
	line-height:1.5;
}

.text li {
	font-family:'Trebuchet MS';
	text-align: center;
	color: #ffff;
	margin-top:7px;
	display: list-item;
	line-height: 30px;
}

.text a {
	color:#ffff;
}

.text img {
	width:600px;
	height:400px;
	position:relative;
	top:15px;
	left:10px;
	float: top;
	border-radius: 10000px;
	display: inline-block;
	margin-top: 1em;
}

/* The following are declarations for the organizations and their descriptions */
.org_text {
	font-size: 2em;
	padding-top: 0.8em;
}

.org_sub_text {
	padding-bottom: 1em;
}

.org_logo {
	text-align: center;
}

.others_warning {
	text-align: center;
	margin-bottom: 20px;
}

/* Footer */
.footer {
	background: black;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: auto;
	font-family: verdana;
	color: white;
}

.footer_text_container {
	text-align: center;
	display: inline;
}

.contact_images {
	display: flex;
	justify-content: center;
}

.contact_images a img {
	height: 20px;
	width: 20px;
	border-radius: 10px;
	text-align: center;
}

.footer p {
	font-size: 12px;
}

.footer h1 {
	font-size: 1.5em;
}
